# Managed by pyinfra. Source: dotfiles/tweaks/files/udev-odrive.rules
# Original: https://cdn.odriverobotics.com/files/odrive-udev-rules.rules
# (See: https://docs.odriverobotics.com/v/latest/interfaces/odrivetool.html)

SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="0d3[0-9]", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", MODE="0666"
