# Managed by pyinfra. Source: dotfiles/tweaks/files/udev-totalphase.rules
# Original: Total Phase vendor download (supposedly at totalphase.com)

# Aardvark I2C/SPI Host Adapter
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0403", ATTR{idProduct}=="e0d0", OWNER="root", GROUP="root", MODE="0666"

# Beagle I2C/SPI/USB Protocol Analyzer
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1679", ATTR{idProduct}=="2001", OWNER="root", GROUP="root", MODE="0666"

# Cheetah SPI Host Adapter
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1679", ATTR{idProduct}=="2002", OWNER="root", GROUP="root", MODE="0666"

# Komodo CAN Solo/Duo Interface
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1679", ATTR{idProduct}=="3001", OWNER="root", GROUP="root", MODE="0666"

# Power Delivery Analyzer
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1679", ATTR{idProduct}=="6003", OWNER="root", GROUP="root", MODE="0666"

# Power Delivery Analyzer (Console)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1679", ATTRS{idProduct}=="6003", SYMLINK+="pdaconsole", OWNER="root", GROUP="root", MODE="0666"

# Power Delivery Analyzer (Update mode)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", OWNER="root", GROUP="root", MODE="0666"
