[user]
	email = egnor@ofb.net
	name = Dan Egnor
[push]
	default = upstream
[credential]
	helper = store
[core]
	autocrlf = input
	editor = vi
[pull]
	ff = only
[alias]
	ack = ! git ls-files --others --cached --exclude-standard -z | xargs -0 ack
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
