[alias]
	ack = ! git ls-files --others --cached --exclude-standard -z | xargs -0 ack
	prune-gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[core]
	autocrlf = input
	editor = vi
[credential]
	helper = store
[diff]
	tool = bc4
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = upstream
[submodule]
	recurse = true
[user]
	email = egnor@ofb.net
	name = Dan Egnor

[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[diff "lfstext"]
	textconv = cat
